{% extends "base.html" %}
{% block title %}History - ATR App{% endblock %}
{% block content %}
<h2>Prediction History</h2>
{% if history %}
<div class="list-group">
    {% for item in history %}
    <div class="list-group-item">
        <h5>{{ item.label }}</h5>
        <p>{{ item.description }}</p>
        <img src="data:image/jpeg;base64,{{ item.uploaded_image }}" class="img-fluid" style="max-width:200px;">
        <small>{{ item.timestamp }}</small>
    </div>
    {% endfor %}
</div>
{% else %}
<p>No history yet.</p>
{% endif %}
{% endblock %}